@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List of all employees</h1>
    
    @if (Model.Count<Employee>() > 0)
    { 

    <table class="table table-responsive table-striped mt-5">
        <tr>
            <th>S/N</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Department</th>
            <th>Action</th>
        </tr>

        @foreach (Employee employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Department</td>
                <td><a asp-controller="home" asp-action="employee" asp-route-Id="@employee.Id">View</a></td>
            </tr>
        }



    </table>
     }
        else
        {
            <p>No data to display</p>
        }
</div>
